.array-container {
  text-align: center;
}

.array-body {
  display: inline-block;
}

.array-element {
  width: 10px;
  margin: 0px 4px 0px 4px;
  color: rgb(9, 168, 168);
  display: inline-block;
}

button {
  margin: 14px;
  padding: 4px 8px 4px 8px;
}

.mat-form-field.mat-select {
  background: #fff;
}

hr {
  margin: 10px 0px 0px 0px;
}

mat-slider {
  margin-top: 16px;
}

.animation-bar {
  display: inline-block;
}
