.array-container {
    text-align: center;
}

.array-body {
    display: inline-block;
}

.array-element {
    width: 36px;
    margin: 2px;
    background-color: rgb(0, 168, 168);
    display: inline-block;
}

button {
    margin: 4px;
    padding: 4px;
}