button {
  margin: 14px;
  padding: 4px 8px 4px 8px;
}

hr {
  margin: 10px 0px 0px 0px;
}

.array-container {
  text-align: center;
}

table {
  margin: auto;
}

.array-body {
  display: inline-block;
}

.array-element {
  width: 7px;
  margin: 0px 3px 0px 1px;
  display: inline-block;
}

.rectangle {
  width: 6px;
  height: 10px;
  margin: 10px 4px 0px 8px;
  padding-bottom: 10px;
  display: inline-block;
}

.mat-form-field.mat-select {
  background: #fff;
}

.mat-slider {
  margin-top: 16px;
}

.animation-bar {
  display: inline-block;
}
