<mat-toolbar>
  <button type="button" [disabled]="arrService.sorting" class="btn btn-primary" (click)="resetArray()">
    Generate New Array
  </button>
  
  <div class="btn-group" dropdown [insideClick]="true">
    <button
      id="button-animated"
      dropdownToggle
      type="button"
      class="btn btn-primary dropdown-toggle"
      aria-controls="dropdown-animated"
    >
      {{ selectedAlgorithm }} <span class="caret"></span>
    </button>
    <ul
      id="dropdown-animated"
      *dropdownMenu
      class="dropdown-menu"
      role="menu"
      aria-labelledby="button-animated"
    >
      <li role="menuitem">
        <a
          class="dropdown-item"
          (click)="displayInfo(algorithmEnum.BUBBLE)"
          >Bubble Sort</a
        >
      </li>
      <li role="menuitem">
        <a
          class="dropdown-item"
          (click)="displayInfo(algorithmEnum.INSERTION)"
          >Insertion Sort</a
        >
      </li>
      <li role="menuitem">
        <a
          class="dropdown-item"
          (click)="displayInfo(algorithmEnum.MERGE)"
          >Merge Sort</a
        >
      </li>
      <li role="menuitem">
        <a
          class="dropdown-item"
          (click)="displayInfo(algorithmEnum.QUICK)"
          >Quick Sort</a
        >
      </li>

    </ul>
  </div>

  <button type="button" [disabled]="arrService.sorting || arrService.isSorted" class="btn btn-danger" (click)="startSorting()">
    Sort
  </button>

  <small>Array Size</small>
  <mat-slider
    thumbLabel
    tickInterval="auto"
    min="4"
    max="500"
    (input)="pitchSize($event)"
    value="{{ arrService.arrayLength }}"
  ></mat-slider>

  <small>Iteration Speed </small>
  <mat-slider
    thumbLabel
    tickInterval="auto"
    min="1"
    max="100"
    (input)="pitchSpeed($event)"
    value="{{ arrService.animationSpeed }}"
  ></mat-slider>
</mat-toolbar>

<div class="container-fluid">
  <div class="row">

    <div class="array-container col-12">
      
      <div class="animation-bar col-sm-6">

        <div class="rectangle" [ngStyle]="{'background-color': 'red'}"> </div>{{algorithmEnum.RED_BAR}} 
        <div class="rectangle" [ngStyle]="{'background-color': 'orange'}" *ngIf="selectedAlgorithm == algorithmEnum.QUICK"> </div>{{algorithmEnum.ORANGE_BAR}} 
        <div class="rectangle" [ngStyle]="{'background-color': 'green'}"> </div>{{algorithmEnum.GREEN_BAR}} 
  
        <div class="mb-2">
          <progressbar max="{{arrService.sortingAnimationsMax}}" [value]="arrService.sortingAnimationsLeft" type="danger" [striped]="true" [animate]="true"><i>{{arrService.sortingAnimationsLeft}} / {{arrService.sortingAnimationsMax}}</i></progressbar>
        </div>
      </div>

      <hr />
      <p class="array-body" *ngFor="let num of arrService.numbers">
        <span
          class="array-element"
          [ngStyle]="{
            'height.px': num.value,
            'background-color': num.colour
          }"
        >
          .</span
        >
      </p>
    </div>
  </div>
</div>


