<mat-toolbar class="array-container">
  <button type="button" [disabled]="arrService.sorting" class="btn btn-primary" (click)="resetArray()">
    Generate New Array
  </button>
  <div class="btn-group" dropdown [insideClick]="true">
    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
      aria-controls="dropdown-animated" [disabled]="arrService.sorting">
      {{ selectedAlgorithm }} <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated"
    >
            <!-- [disabled]="arrService.sorting"> -->

      <li role="menuitem">
        <a class="dropdown-item" (click)="displayInfo(algoEnum.BUBBLE)">{{algoEnum.BUBBLE}}</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" (click)="displayInfo(algoEnum.INSERTION)">{{algoEnum.INSERTION}}</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" (click)="displayInfo(algoEnum.MERGE)">{{algoEnum.MERGE}}</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" (click)="displayInfo(algoEnum.QUICK)">{{algoEnum.QUICK}}</a>
      </li>
    </ul>
  </div>

  <button type="button" class="btn btn-danger" (click)="startSorting()"
    [disabled]="arrService.isSorted || arrService.sorting"> Sort
  </button>

  <small>Array Size</small>
  <mat-slider [disabled]="arrService.sorting" thumbLabel tickInterval="auto" min="4" max="200"
    (input)="pitchSize($event)" value="{{ arrService.arrayLength }}"></mat-slider>

  <small>Iteration Speed </small>
  <mat-slider [disabled]="arrService.sorting" id="speedSlider" thumbLabel tickInterval="auto"
    [displayWith]="arrService.formatLabel" min="0" max="1000" (input)="pitchSpeed($event)"
    value="{{ arrService.animationSpeed }}">
  </mat-slider>
</mat-toolbar>


<div class="container-fluid">
  <div class="row">

    <div class="array-container col-12">

      <div class="animation-slide-bar col-sm-6">

        <table id="colorMeaning" class="array-container">
          <tr>
            <td>
              <div class="rectangle" [ngStyle]="{'background-color': 'red'}"> </div>
            </td>
            <td>{{algoEnum.RED_BAR}} </td>
            <td *ngIf="selectedAlgorithm == algoEnum.QUICK">
              <div class="rectangle" [ngStyle]="{'background-color': 'orange'}"> </div>
            </td>
            <td *ngIf="selectedAlgorithm == algoEnum.QUICK">{{algoEnum.ORANGE_BAR}} </td>
            <td>
              <div class="rectangle" [ngStyle]="{'background-color': 'green'}"> </div>
            </td>
            <td>{{algoEnum.GREEN_BAR}} </td>
          </tr>
          <tr>
          </tr>
        </table>

        <div class="mb-2">
          <progressbar type="primary" [striped]="true" [animate]="true" *ngIf="arrService.sorting == false"
            [value]="arrService.arrayLength"><i>{{arrService.arrayLength}} / 200 </i></progressbar>
          <progressbar type="danger" [striped]="true" [animate]="true" *ngIf="arrService.sorting"
            max="{{arrService.sortingAnimationsMax}}" [value]="arrService.sortingAnimationsLeft">
            <i>{{arrService.sortingAnimationsLeft}} / {{arrService.sortingAnimationsMax}} </i>
          </progressbar>
        </div>
      </div>

      <hr />

      <div class="array-body" *ngFor="let num of arrService.numbers" class="array-bar" [ngStyle]="  
          { 'width.px': num.width,
            'height.px': num.value,
            'background-color': num.colour
          }">

        <p *ngIf="arrService.arrayLength > 20" [style.font-size.px]="'0'">.</p>

        <p *ngIf="arrService.arrayLength < 20" [style.color]="'white'">{{ num.value }}</p>
      </div>
    </div>
  </div>
</div>
