<div class="row">
  <div class="col-2">
    <nav class="nav flex-column">
      <!-- Href requires a fresh reload, routerlink treats it as an internal route -->
      <!-- <a class="nav-link active" href="algo">Sorting Algorithms</a> -->
      <a class="nav-link" routerLink="/algorithm">Sorting Algorithms</a>
      <a class="nav-link" routerLink="/searching">Searching Algorithms</a>
      <a class="nav-link" routerLink="/binary">Binary Trees</a>
      <a class="nav-link" href="https://jahanu.github.io/string-matching-algo/" target=_blank>String-Matching Algorithms</a>

    </nav>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
